{% extends "layout.html" %}

{% block body %}
<h3>About us</h3>
<hr>

<p>
There was shock last week when Denmark decided to cull all its mink - up to 17 million animals - because of the spread of coronavirus. That national cull has turned into a political outcry, now that the prime minister has admitted the plan was rushed and had no legal basis.

Danish authorities worry that a mutated form of coronavirus found in mink could potentially hamper the effectiveness of a future vaccine.

As the politicians argue, mass graves have appeared in the Danish countryside filled with the slaughtered animals.
</p>
{% endblock body %}h3